.mainPageImage {
  height: 350px;
  width: 550px;
  margin-top: 80px;
}

.imageBlock{
  display: block;
}

.Header{
  background-image: url('/images/white_wall_hash.png');
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.search-form {
  margin-top: 35px;
  height: 28px;
  width: 500px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-bottom: 4px solid;
  border-color: #99D0E4;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

*:focus{
  outline: none;
}

.searchingHeader {
  margin-top: 40px;
  padding-bottom: 20px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-form-small {
  height: 28px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  border: none;
  border-bottom: 4px solid;
  border-color: #99D0E4;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}