.List{
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  word-wrap: break-word;
}

.emptylist{
  background-image: url('/images/white_wall_hash.png');
  margin-right: 5%;
  word-wrap: break-word;
  height: 500px;
  width: 100%;
}