.List{
  background-color: yellow;
  margin-left: 5%;
  margin-right: 5%;
  word-wrap: break-word;
}

.emptylist{
  background-image: url('/images/white_wall_hash.png');
  // background-color: red;
  margin-right: 5%;
  word-wrap: break-word;
  height: 500px;
  width: 100%;
}