body {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.nav{
  background-image: url('/images/white_wall_hash.png');
  height: 100px;
  width: 100%;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.navList{
  list-style-type: none;
  text-align: center;
  font-size: 14px;
}

li {
  display: inline;
}

a{
  margin-right: 30px;
  text-decoration: none;
}

a:hover{
  color: #99D0E4;
}

.title{
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 2px;
}

.container{
  margin-top: 10px;
  color: white;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-anchor: middle;
  color: #fff;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}