$break-large: 1200px;
$break-medium: 960px;

    .about-header-image {
      display: flex;
      margin-top: 30px;
      align-items: center;
      justify-content: center;
    }

@media screen and (min-width: $break-large) {

.aboutUs{
  margin-top: 130px;
  font-family: 'Montserrat', sans-serif;
  display:flex;
  justify-content: center;
  width: 100%;
  color: #999999;

    .aboutPageImage {
      height: 360px;
      width: 600px;
    }

    .aboutContent {
      max-width: 41%;

      p {
        word-spacing: 2px;
        font-size: 16px;
        margin-top: 20px;
      }
    }

    #aboutFeatures {
      margin-top: 50px;
      display:flex row;
      text-align: center;

      .features {
        font-size: 30px;
        font-weight: bold;
      }

    }

}

.builtBy {
  margin-top: 100px;
  text-align: center;
  color: #87BBC9;
}


.titleDiv {
  display: flex;
  justify-content: center;

  .aboutTitle {
    font-weight: bold;
  }
  .iconImage {
    display: none;
  }


}


.teamContainer {
  margin-top: 50px;
  display:flex;
  justify-content:center;
  color: #87BBC9;
}


.photosContainer {
  justify-content: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  max-width: 1600px;

  .teamMember {
    padding: 25px;
    text-align: center;

    .circle-pic {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      overflow:hidden;
      background-size: cover;
      background-position:center;
    }

    .owen {
      background-image: url("/images/owen.JPG");
    }

    .pam {
      background-image: url("/images/pammy.JPG");
    }

    .nat {
      background-image: url("/images/natty.JPG");
    }

    .taylor {
      background-image: url("/images/taytay.JPG");
    }

  }

}

}

@media screen and (min-width: $break-medium) and (max-width: $break-large) {

  .iconImage {
  height: 10px;
  width: 10px;
}

  .aboutUs{
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: #999999;


      .aboutPageImage {
        height: 210px;
        width: 350px;
      }


      .aboutContent {
        margin-bottom: 0px;
        max-width: 40%;

        p {
          margin-top: 20px;
        }
      }

      #aboutFeatures {
        margin-top: 30px;
        display:flex row;
        text-align: center;

        .features {
          font-size: 30px;
          font-weight: bold;
        }

      }



  }

  .titleDiv {
    display: flex;
    justify-content: center;

    .aboutTitle {
      font-weight: bold;
    }
    .iconImage {
      display: none;
    }


  }

  .builtBy {
  margin-top: 50px;
  text-align: center;
  color: #87BBC9;
  }

  .teamContainer {
    margin-top: 40px;
    display:flex;
    justify-content:center;
    color: #87BBC9;
  }


  .photosContainer {

    display: flex;
    flex-flow: wrap;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
    justify-content:center;

    .teamMember {
      padding: 30px;
      text-align: center;

      .circle-pic {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow:hidden;
        background-size: cover;
        background-position:center;
      }

      .owen {
        background-image: url("/images/owen.JPG");
      }

      .pam {
        background-image: url("/images/pammy.JPG");
      }

      .nat {
        background-image: url("/images/natty.JPG");
      }

      .taylor {
        background-image: url("/images/taytay.JPG");
      }


    }

  }



}




@media screen and (max-width: $break-medium) {


.aboutUs{
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  display:flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: #999999;
  // background-color: red;


    .aboutPageImage {
     display: none;
    }


    .aboutContent {
      margin-bottom: 0px;
      max-width: 40%;

      p {
        margin-top: 20px;
      }
    }

    #aboutFeatures {
      margin-top: 30px;
      text-align: center;

      .features {
        font-size: 20px;
        font-weight: bold;
      }

    }

}

.titleDiv {

  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .aboutTitle {
    font-size: 25px;
    font-weight: bold;
  }
  .iconImage {
    display: none;
    // height: 60px;
    // width: 100px;
  }

}


.builtBy {
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  color: #87BBC9;
}

.teamContainer {
  margin-top: 35px;
  display:flex;

  justify-content:center;
  color: #87BBC9;
  // background-color: yellow;

}


.photosContainer {

  display: flex;
  font-family: 'Montserrat', sans-serif;
  max-width: 300px;
  margin-left: 20px;
  flex-flow: wrap;
  justify-content: center;
  // background-color: red;

  .teamMember {
    padding: 15px;
    text-align: center;


      .circle-pic {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow:hidden;
        background-size: cover;
        background-position:center;
      }

      .owen {
        background-image: url("/images/owen.JPG");
      }

      .pam {
        background-image: url("/images/pammy.JPG");
      }

      .nat {
        background-image: url("/images/natty.JPG");
      }

      .taylor {
        background-image: url("/images/taytay.JPG");
      }


  }

}


}
